.sidenav {
  width: 150px;
  .mat-toolbar {
    background: inherit;
    height: 30px;
  }
  .mat-nav-list>a {
    height: 30px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 30px;
}

table{
  box-sizing: border-box;
  width:100%;
  border:1px solid red;
  tr>td{
    box-sizing: border-box;
    vertical-align: top;
    border:0.5px solid #0000ff;
  }
}
