<mat-progress-bar mode="indeterminate" color="primary" id="progressbar" style="display: none;"></mat-progress-bar>
<mat-card (mousedown)="$event.stopPropagation()">
  <mat-card-content>
    <img mat-card-image (click)="onImageLoad()" #imag>
    <div #imagestatus></div>
    <mat-card-actions>
      <button mat-raised-button color="primary" id="btnforsrc" (click)="onImageLoad()" [disabled]="isloading">
        Choose Image File
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<canvas style="display: none;" #canvas></canvas>
